

















.container2 #new1 {
    background-color: blue;
    border-color: red;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

h1 {
    color: green;
}

.container1 input {
    padding: 8px;
}

.container2 input {
    padding: 8px;
}

.container1 {
    margin: 80px 240px 60px 240px;
    padding: 0px 100px 100px 100px;
}

.container2 {
    margin: 80px 240px 60px 240px;
    padding: 0px 100px 100px 100px;
}

